<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <!--<add name="DBConn"
   connectionString="Data Source=DESKTOP-JPRQ698;Initial Catalog=Devansh;Integrated Security=SSPI;"
   providerName="System.Data.SqlClient"/>-->




    <!--<add name="DBConn" connectionString="Data Source=DESKTOP-JPRQ698;Integrated Security=true;Initial Catalog=Devansh" providerName="System.Data.SqlClient" />-->
  <!--<add name="DBConn" connectionString="Data Source=DESKTOP-JPRQ698;Initial Catalog=Devansh" providerName="System.Data.SqlClient" />-->
 
   <add name="DBConn" connectionString="Data Source=HP;Initial Catalog=Devansh;Integrated Security=SSPI;" providerName="System.Data.SqlClient"></add>
 

  </connectionStrings>

</configuration>
